    /*!! css for about page!! */
    html {
        position: relative;
        min-height: 100%;
        }

    .navbar {
        padding: 0px !important;
        }

    .navbar-light .navbar-brand {
        color: azure;
        margin-left: 4%;
        background-color: blue;
        padding-right: 1%;
        padding-left: 1%;
        height: 2%;
        }
    
    
    body {
        margin: 0 0 100px;
        background-color: lightgrey;
        }
    
    .container {
       
        margin-left: 1%;
    }
    
    h3 {
        color: blue;
        }

    img {
        margin-right: 10px;
        margin-bottom: 5px;
        }
    
    .img-thumbnail {
        margin-left: 4%;
        margin-right: 2%;
        border-radius: 1.25rem;
    }    
    footer {
        background-color: blue;
        display: block;
        font-size: 10pt;
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 10%;
        padding-top: 2%;
        text-align: center;
        }

    @media screen and (max-width: 768px){
        .container {
            
            margin-right: 0%;
           
            }
        .col-md-9 {
            flex: 0 0 111%;
            max-width: 111%;
            }
    }        
    

    @media screen and (max-width: 640px){
        .container {
            margin-left: 0%;
            }
        .col-md-9 {
            flex: 0 0 111%;
            max-width: 111%;
            }
    }
    /* !!end of ccs for About page!! */